
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4, 200px 50px  auto);
  grid-template-areas:
          'form form form'
          'titleResult titleResult titleResult'
          'resultList resultList resultList'
;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgba(3, 5, 131, 0.35);

}
.form{
  grid-area: form;
  display: grid;
grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px);
  grid-template-areas:
          'labelDate labelDistance ...'
          'inputDate inputDistance submit'
;
justify-items: center;
  align-items: center;
}
.labelDate{
grid-area: labelDate;

}
.labelDistance{
grid-area: labelDistance;
}
.inputDate{
grid-area: inputDate;
}
input{
  width: 300px;
  height: 50px;
  border: 2px black solid;
  border-radius: 10px;
}
.inputDistance{
grid-area: inputDistance;

}
.titleResult{
grid-area: titleResult;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}
.resultList{
  grid-area: resultList;

  border: 2px black solid;
}
.submit{
  grid-area: submit;
  justify-self: start;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 2px black solid;
}
.fa-pencil{

}