*{
  font-size: 23px;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  display: grid;
  justify-items: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,220px);
  grid-template-rows: 50px 300px 50px  auto;
  grid-template-areas:
          'title title title'
          'form form form'
          'titleResult titleResult titleResult'
          'resultList resultList resultList'
;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgba(3, 5, 131, 0.35);
}
.title{
  text-align: center;
  align-self: end;
  grid-area: title;
}
.form{
  grid-area: form;
  display: grid;

grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px);
  grid-template-areas:
          'labelDate labelDistance ...'
          'inputDate inputDistance submit'
;
justify-items: center;
  align-items: center;
}
.labelDate{
grid-area: labelDate;

}
.labelDistance{
grid-area: labelDistance;
}
.inputDate{
grid-area: inputDate;
}
input{
  text-align: center;
  width: 200px;
  height: 50px;
  border: 2px black solid;
  border-radius: 10px;
}
.inputDistance{
grid-area: inputDistance;

}
.titleResult{
grid-area: titleResult;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}
.resultList{
  background-color: rgba(0, 0, 100, 0.8);
  color: white;
  grid-area: resultList;
  border: 2px black solid;
  border-radius: 10px;

}
.itemResult{
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  justify-items: center;
  align-items: center;
}
.noData{
  text-align: center;
font-size: 20px;
}
.submit{
  grid-area: submit;
  justify-self: start;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 2px black solid;
}
.fa{
font-size: 20px;
}
@media screen and (max-width:480px ){
.container{
  width: 350px;
  grid-template-columns: 350px;
  grid-template-rows: 50px 300px  auto;
  grid-template-areas:
          'title '
          'form '
          'resultList  '
;
}
  .form{
    grid-template-columns:320px;
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
    grid-template-areas:
          'labelDate'
          'inputDate'
          'labelDistance'
          'inputDistance'
          'submit';
    justify-self: center;
  }
  .titleResult{
    display: none;
  }

  .submit{
    justify-self: center;
  }
  .resultList{
   width: 350px;
  }
  .itemResult{
    grid-template-columns: repeat(3,120px);
  }
}
.itemResult>*{
  font-size: 22px;
}